<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
  
    <bean id="springHelloWorld" class="com.yf.springdemo.hello2.impl.SpringHelloWorld"/>
    <bean id="strutsHelloWorld" class="com.yf.springdemo.hello2.impl.StrutsHelloWorld"/>
    <bean id="helloWorldService" class="com.yf.springdemo.hello2.HelloWorldService">
        <property name="helloWorld" ref="springHelloWorld"/>
    </bean>
  
</beans>